.eng {
	font-family: "Verdana", "Arial", "Helvetica", sans-serif;
	font-size: 12px;
	color: #CCCC66;
}
.chi {
	font-family: "Arial", "Microsoft YaHei", sans-serif; 
	font-size: 20px;
	color: #007a8e;
	position: static;
	letter-spacing: normal;
	word-spacing: normal;
	cursor: auto;
	page-break-before: always;
	page-break-after: always;
	line-height: 30px;
}
.minichi {
    font-family: "ËÎÌå", "·ÂËÎ_GB2312", "Microsoft YaHei", sans-serif; 
	font-size: 12px
}
.button_sam {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px
}
.bigchi {
	font-family:  "Arial", "Microsoft YaHei",sans-serif; 
	font-size: 40px;
	font-style: normal;
	line-height: normal;
	color: #007a8e;
	line-height: 60px;
}
.eresume {
	font-family: Georgia, "Microsoft YaHei", serif;
	font-size: 14px;
	color: #000000;
}
mark {
  background-color: #fbf8cf;
  color: black;
}
